# Backend Environment Variables
# Copy this to .env and fill in real values

PORT=5000
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net
JWT_SECRET=your-secret-key-minimum-16-chars
GROQ_API_KEY=your-groq-api-key
JUDGE_API_KEY=your-judge0-rapidapi-key
RESEND_API_KEY=your-resend-api-key
NODE_ENV=development
